body{
    padding: 0px;
    margin: 0px;
}
.container{
    min-width: 1280px;
    font-family: 'Microsoft YaHei';
    width: 100%;

}

header{
    height: 60px;
    width: 100%;
    position: relative;
}

.banner-left{
    width: 10%;
    display: inline-block;
    position: relative;
    left: 7%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background: url(../images/icon-1.png) no-repeat left #dddd;
    background-size: 16% 50%;

}

.banner-left h1{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

header nav{
    display: inline-block;
    position: relative;
    left: 40%;
    width: 30%;
    height: 60px;
    vertical-align: middle;
}

header nav ul{
    list-style: none;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li{
    display: inline-block;
    width: 20%;
    text-align: center;
    cursor: pointer;
    font-size: 10px;
    color: #534141;
}

header .banner-right {
    font-size: 14px;
    color: #E53C3C;
    height: 60px;
    width: 7%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 50%;
}