* { box-sizing: border-box; }
body{
    padding: 0px;
    margin: 0px;
}
.container{
    min-width: 1280px;
    font-family: 'Microsoft YaHei';
    width: 100%;

}

header{
    height: 60px;
    width: 100%;
    position: relative;
}

.banner-left{
    width: 10%;
    display: inline-block;
    position: relative;
    left: 7%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    background: url(../images/icon-1.png) no-repeat left #dddd;
    background-size: 16% 50%;

}

.banner-left h1{
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

header nav{
    display: inline-block;
    position: relative;
    left: 40%;
    width: 30%;
    height: 60px;
    vertical-align: middle;
}

header nav ul{
    list-style: none;
    line-height: 60px;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}

header nav ul li{
    /* display: inline-block; */
    width: 20%;
    font-size: 14px;
    text-align: center;
    color: #534141;
    cursor: pointer;
    float: left;
}

header nav ul .move {
    position: absolute;
    border-top: 4px solid #E53C3C;
    left: 0;
    top: 55px;
    transition: left 0.4s ease-in-out;
}
header .banner-right {
    font-size: 14px;
    color: #E53C3C;
    height: 60px;
    width: 7%;
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 50%;
    background: url(../images/icon-2.jpg) no-repeat left;
    background-size: 15px 18px;
}

header .banner-right .move {
    width: 0;
    border-top: 2px solid #E53C3C;
    position: absolute;
    top: 45px;
    left: 25%;
    transition: width 0.4s ease-in-out;
}

header nav ul li:nth-child(1):hover~.move{
    left: 0;
}
header nav ul li:nth-child(2):hover~.move{
    left: 20%;
}
header nav ul li:nth-child(3):hover~.move{
    left: 40%;
}
header nav ul li:nth-child(4):hover~.move{
    left: 60%;
}
header nav ul li:nth-child(5):hover~.move{
    left: 80%;
}

.banner-right:hover .move{
    width: 50px;
}

.section-1{
    width: 100%;
    height: 650px;
    background-image: url(../images/pic01.jpg);
    background-size: 100% auto;
    position: relative;
}

.section-1 .mes {
    position: absolute;
    top: 270px;
    left: 120px;
}
.section-1 .mes p{
    font-size: 22px;
    color: #fff;
    margin: 0;
}

.section-1 .mes p:first-child{
    font-family: Arial;
    font-size: 60px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

.section-1 .mes p:last-of-type{
    margin-bottom: 60px;
}

.section-1 .mes span {
    width: 300px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    text-align: center;
    font-size: 28px;
    color: #fff;
    background: #E53C3C;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.section-1 .mes span:hover{
    background: #E31212;
    border-radius: 3px;
}

.section-2{
    width: 100%;
    height: 240px;
}

.section-2 .cell{
    width: 25%;
    /* display: inline-block; */
    float: left;
    position: relative;
}

.section-2 .cell .img{
    width: 100%;
    height: 130px;
    text-align: center;
    display: inline-block;
    line-height: 130px;
}

.section-2 .cell .mes {
    width: 100%;
    height: 50px;
    font-size: 13px;
    color: #534141;
    text-align: center;
    box-sizing: border-box;
    border-right: 2px solid #534141;
}

.section-3{
    width: 100%;
    height: 400px;
    background: #EDEAEA;
    text-align: center;
}

.section-3 .img{
    position: relative;
    top: 80px;
}

.section-3 .mes{
    font-size: 50px;
    color: #534141;
    position: relative;
    top: 100px;
}

.section-4 {
    width: 100%;
    height: 300px;
    padding-top: 80px;
    box-sizing: border-box;
    text-align: center;
    background: url(../images/pic02.jpg);
    background-size: cover;
    color: #ffffff;
}

.section-4 .mes span{
    border-top: 2px solid #fff;
    width: 30px;
    height: 15px;
    display: inline-block;
}

.section-4 .mes p:first-child {
    font-size: 22px;
}

.section-4 .mes p:last-child {
    font-size: 13px;
}

.section-4 .options{
    height: 34px;
    width: 240px;
    display: inline-block;
}

.section-4 .options .option{
    height: 34px;
    width: 240px;
    display: relative;
}

#country{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    display: relative;
}
